<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% if title %}
      <title>{{ title }}</title>
  {% else %}
      <title>Flask Blog</title>
  {% endif %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <script src="{{url_for('static', filename='script/script.js') }}"></script>
</head>
<body>
  <header>
    <div class="logo-flex">
    <a href="#" class="logo"><img src="{{ url_for('static', filename='assets/img/newsXplorer.png')}}" alt=""></a>
    <p class="login">LOGIN/JOIN</p>
  </div>
    <nav class="navbar">
      <div class="content">
        <ul class="menu-list">
          <div class="icon cancel-btn">
            <i class="fas fa-times"></i>
          </div>
          <li class="items alt"><a href=""> General</a></li>
          <li class="items"><a href="/news/business">Business</a></li>
          <li class="items"><a href="/news/health">Health</a></li>
          <li class="items"><a href="/news/science">Science</a></li>
          <li class="items"><a href="/news/technology">Technology</a></li>
          <li class="items"><a href="/news/sports">Sports</a></li>
        </ul>
        <div class="icon menu-btn">
          <i class="fa fa-bars"></i>
        </div>
        <div class="socials">
          <i class="fas fa-search fa-2x"></i>
          <i class="fab fa-twitter fa-2x"></i>  
          <i class="fab fa-instagram fa-2x"></i>
          <p class="follow-btn">Follow</p>
        </div>
         
      </div>
    </nav>
    
  </header>
  <script src="https://kit.fontawesome.com/450a8dfd72.js" crossorigin="anonymous"></script>
<div class="news">
{% block content %}{% endblock %}
</div>
<footer>Made with <i class="fas fa-heart"></i> By DEVSTRONS'</footer>
</body>
</html>
